# Virtual environments
venv/
.venv/
env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo
.windsurf

# OS
.DS_Store
Thumbs.db

# Project specific
*.log
.pytest_cache/

knowledge_base/
vectorDB/
refer/

projects/
tests/

postgres_data

backend/alembic/versions/
.coverage
pytest.ini
.pylintrc
requirements.txt